{% if site.giscus.data-repo and site.giscus.data-repo-id %}

<script src="https://giscus.app/client.js"
        data-repo="{{ site.giscus.data-repo }}"
        data-repo-id="{{ site.giscus.data-repo-id }}"
        data-category="{{ site.giscus.data-category }}"
        data-category-id="{{ site.giscus.data-category-id}}"
        data-mapping="{{ site.giscus.data-mapping }}"
        data-reactions-enabled="{{ site.giscus.data-reactions-enabled }}"
        data-emit-metadata="{{ site.giscus.data-emit-metadata}}"
        data-theme="{{ site.giscus.data-theme }}"
        data-lang="{{ site.giscus.data-lang }}"
        crossorigin="{{ site.giscus.crossorigin }}"
        async>
</script>

{% endif %}
